[Unit]
Description=Startx

[Service]
#User=bob #uncomment this to run startx as desired user (in example bob), otherwise it will run startx as root
ExecStart=/usr/bin/startx

[Install]
WantedBy=graphical.target